script(src='/assets/js/foundation/foundation.js')
script(src='/assets/js/foundation/foundation.topbar.js')
script(src='/assets/js/foundation/foundation.equalizer.js')
script(src='/assets/js/foundation/foundation.alert.js')
script(src='/assets/js/foundation/foundation.offcanvas.js')
script(src='/assets/js/foundation/foundation.magellan.js')