footer
	div.row
		div.medium-4.columns
			p.copyright: small Copyright &copy; Andrew Corliss 2016
			ul
			//-	li Link 1
			//- li Link 2
			//-	li Link 3
		div.medium-6.columns
			ul
				li.padding-sides-5: a(href='https://twitter.com/#!/corliosity', target='_blank'): span.icon.icon-twitter.padding-15-sides
				li.padding-sides-5: a(href='#contact'): span.icon.icon-mail.padding-15-sides
				li.padding-sides-5: a(href='https://www.github.com/corliosity', target='_blank'): span.icon.icon-github.padding-15-sides