doctype html
html(lang="en")
	head
		block headContent
		title!= title
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,900,700',rel='stylesheet',type='text/css')
		<!--cssmain begin-->
		link(href='/assets/css/main.css', rel='stylesheet')
		<!--cssmain end-->
	body
		include nav.jade
		block bodyContent
		include footer.jade