doctype html
html(lang="en")
	head
		block headContent
		title!= title
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,900,700',rel='stylesheet',type='text/css')
		<!--cssmain begin-->
		link(href='/assets/css/main.css', rel='stylesheet')
		<!--cssmain end-->
		include startup.jade
	body
		section.main-bg.background-content
			include nav.jade
			div.row
				#header.row
					.column
						h1.text-color-roblowe.text-shadow-sweden Corliss Design &amp; Development
				#intro.row
					.medium-7.column
						.panel.background-color-transparent6
							h3 Andrew Corliss
							p email : 
								a(href='#contact') andrew.corliss@gmail.com
							p phone : 
								a(href="tel:") +1 720 560 9372
							p.text-bold Let me introduce myself
							p Just your average web developer, who enjoys Hockey, Hiking, Skiing, and programming.
							p But, talk is cheap.  You probably want to see just what I can do.  Right?  Well keep looking through this page and enjoy.
		block bodyContent
		include core.jade
		include footer.jade
		script.
			$(document).foundation();
			background.init(['hockey', 'se-summer']);