header.contain-to-grid
	nav.top-bar(data-topbar,role='navigation')
		ul.title-area
			li.toggle-topbar.menu-icon: a(href='/'): span Menu
		section.top-bar-section
			ul.right
				li: a(href='/') Top
				li: a(href='/#skills') Skills
				li: a(href='/#hobbies') Hobbies
				//- li: a(href='') Support
				li: a(href='contact') Contact
			ul.left
				li: a(href='/'): div.logo Andrew Corliss