div.contain-to-grid.sticky.background-color-transparent3
	nav.top-bar(data-topbar)
		ul.title-area
			li.name: h1: a(href="#") Corliss Development
			li.toggle-topbar.menu-icon: a(href="#"): span Menu
		section.top-bar-section
			ul.right
				li: a(href='/') Top
				li: a(href='/#skills') Skills
				li: a(href='/#hobbies') Hobbies
				li: a(href='/#contact') Contact