div.contain-to-grid.sticky
	nav.top-bar.background-color-transparent4(data-topbar)
		ul.title-area
			li.name
			li.toggle-topbar.menu-icon: a(href="javascript:void(0);"): span.screen-reader-text Menu
		section.top-bar-section
			ul.right.row.collapse
				li: a(href='/#skills') Skills
				li: a(href='/#work') Work
				li: a(href='/#hobbies') Hobbies
				li: a(href='/#contact') Contact