@include grid-spaces;
@include shape-classes;
// Specific Styles AC Personal
//
// Style that will not be re-used across projects can go here
//
.title-row {
	width: 100%;
	background: $casper;
	margin-top: -1em;
}

.contain-to-grid.background-color-transparent3 {
	position: inherit;
}

.circle-position-above {
	position: relative;
	top: -35px;
}

.neg-margin {
	margin-top: -1rem !important;
}

/* Foooter */
.footer, footer {
	position: absolute;
	background-color: $vadar;
	padding-top: 1rem;
	width: 100%;
	display: block;
	div {
		ul {
			list-style: none;
			li {
				float: left;
			}
			.icon:before {
				font-size: rem-calc(24);
				color: $cloud;
			}
			.icon.disabled:before {
				color: $unused;
			}
		}
	}
	.copyright {
		color: $cloud;
	}

}