@include grid-spaces;
@include shape-classes;
@include minimal-height;

// Specific Styles AC Personal
//
// Style that will not be re-used across projects can go here
//

.circle-position-above {
	position: relative;
	top: -35px;
}

.neg-margin {
	margin-top: -1rem !important;
}

.padding-0 {
	padding: 0 !important;
}

a:hover {
	@include single-transition(color, 300ms, ease-in);
}

ul {
	&.work-style {
		list-style: none;
		li {
			padding-top: 0.5rem;
		}
	}
}

#thank-you {
	display: none;
}

form {
	input {
		width: 100%;
		padding: 0.875rem 0.5rem 0.5rem 0.5rem;
		&.err-highlight {
			border: 1px solid $blood;
			background: $brain;
		}
	}
	textarea {
		width: 100%;
		padding: 0.875rem 0.5rem 0.5rem 0.5rem;
	}
	@media #{$medium-up} {
		.form-label {
			text-align: right !important;
			padding: 0.875rem 0 0 0.5rem;
		}
	}
	.error {
		display: none;
		p {
			margin: 0;
		}
		&.err-msg {
			display: block;
			padding: 0;
			margin: 0;
		}
	}
}


/* Foooter */
.footer, footer {
	position: absolute;
	background-color: $vadar;
	padding-top: 1rem;
	width: 100%;
	display: block;
	div {
		ul {
			list-style: none;
			li {
				float: left;
			}
			.icon:before {
				font-size: rem-calc(24);
				color: $cloud;
			}
			.icon.disabled:before {
				color: $unused;
			}
		}
	}
	.copyright {
		color: $cloud;
	}

}