extends ./tpl/layout

block bodyContent
	div.row.margin-20-top
		a(name="skills")
		#skills
			h4 Skills
			hr
			ul.small-block-grid-1.medium-block-grid-3(data-equalizer)
				each val in skillList
					li.panel.margin-5-sides.margin-20-top
						div.row
							div.shape-5-circle.column.medium-centered.small-centered.circle-position-above
						div.padding-5.row.text-center.neg-margin
							h5.text-color-darkocean= val.title
							p= val.desc
						div.row
							div.medium-8.columns.medium-centered
								button.flat.expand= val.buttonTitle
	div.row.margin-20-top
		a(name="work")
		#work
			h4 Work
			hr
	div.row.margin-20-top
		a(name="hobbies")
		#hobbies
			h4 Hobbies
			hr
			div.columns
				div.row
					h5 Skiing
				div.row
					h5 Hiking or Climbing
				div.row
					h5 Hockey
	div.row.margin-20-top
		a(name="contact")
		#contact
			h4 Contact
			hr